*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Obligatorio/nbproject/private/
/Obligatorio/build/
/Obligatorio/dist/
/ObligatorioWeb/nbproject/private/
/ObligatorioWeb/build/
/CD Entrega 1ra Parte/Obligatorio/build/
/CD Entrega 1ra Parte/Obligatorio/nbproject/private/